<form action="{{url_for('carteira.edit', id = datas[0])}}" method="POST">

    <div class="mb-3">
      <label class="form-label">Número do cartão</label>
      <input type="text" name="n_cartao" required class="form-control" value="{{datas[1]}}">
    </div>

    <div class="mb-3">
      <label class="form-label">Senha do cartão</label>
      <input type="text" required class="form-control" name="senha_cartao" value="{{datas[2]}}">
    </div>
    
    <div class="mb-3">
      <label class="form-label">CPF</label>
      <input type="text" required class="form-control" name="cpf" value="{{datas[3]}}">
    </div>

    <div class="mb-3">
      <label class="form-label">Saldo</label>
      <input type="float" required class="form-control" name="saldo" value="{{datas[4]}}">
    </div>

    <input type="submit" value="Confirmar" class="btn btn-primary">
</form>